.nav-item.rounded-3 {
margin-bottom: var(--bs-sidebar-mb);
}
.btn.btn-outline-secondary{
background-color:transparent;
color:  var(--bs-search-btn-hover-color) !important;
}
.price-panel{
background-color: var(--bs-price-btn-bg) !important;
}
.price-panel:hover{
background-color: var(--bs-hover-price-btn-bg) !important;
}
body, .FON, masthead .masthead__video-container {
	background: var(--bs-site-bg);
--bs-body-color: var(--bs-site-color)
}

video{
max-width: 100%;
}

.grandient, .nav-pills > li, footer {
	background: var(--bs-menu-bg);
}

.navbar .navbar-brand, footer, .navbar .navbar-nav > li > a, .nav-pills > li > a, .card > .card-heading, .navbar.elcontainer, .panel-title, h1 {
	background-color: var(--bs-menu-li-bg);
	color: var(--bs-menu-color);
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: var(--bs-navbar-mr);
}

.carousel .carousel-caption{
color: var(--bs-slider-caption-color);
}

.navbar li, .navbar li > a, .nav-pills > li > a {
	font-size: var(--bs-menu-fz);
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .navbar .navbar-nav > li > a:hover, .nav-pills > li > a:hover, .nav > li > a:focus, .nav-pills .open > a, .nav-pills .open > a:hover, .nav-pills .open > a:focus, .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus, .navbar-nav .nav-link.active {
	color: var(--bs-menu-li-active-color);
	background: var(--bs-menu-li-active-bg);
}

.dropdown-menu > li > a, .nav-pills .dropdown-menu > li > a, .dropdown-item {
	color: var(--bs-dropdown-t-color);
	font-size: var(--bs-dropdown-fz);
}

.dropdown-menu {
	background-color: var(--bs-dropdown-bg-) !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
	background-color: var(--bs-dropdown-hover-bg);
	color: var(--bs-dropdown-hover-color);
}

.jumbotron {
	padding-top: var(--bs-jumbotron-pt);
	padding-bottom: var(--bs-jumbotron-pb);
	margin-bottom: var(--bs-jumbotron-mb);
	color: var(--bs-jumbotron-color);
	background-color: var(--bs-jumbotron-bg);
}

.container .jumbotron, .container-fluid .jumbotron {
	padding-left: var(--bs-jumbotron-pl);
}

.jumbotron p {
	margin-bottom: var(--bs-jumbotron-mb);
	font-size: var(--bs-jumbotron-fz);
}

h1 {
	font-size: var(--bs-cards-title-fz);
	margin-top: var(--bs-h1-mt);
	margin-bottom: var(--bs-h1-mb);
}

.card-body {
	font-size: var(--bs-site-fz);
	color: var(--bs-site-color);
	background: var(--bs-cards-bg);
}

.card {
	margin-top: var(--bs-cards-mt);
	border-color: var(--bs-cards-bc);
}

.card-heading .card-title {
	font-size: var(--bs-cards-title-fz);
}

.card-body h3 {
	font-size: var(--bs-cards-h3-fz);
}

.caption {
background-color: var(--bs-caption-bg);
}

.form-control{
 background-color: var(--bs-field-bg);
border-color: var(--bs-field-bc);
}

 .form-control:focus{
 background-color: var(--bs-field-focus-bg);
}

.search-bar, .search-bar:focus {
 background-color: var(--bs-search-bar-bg);
}

a {
	color: var(--bs-link-color);
}

a:visited {
	color: var(--bs-link-visited-color);
}

a:focus, a:hover {
	color: var(--bs-link-hover-color);
}

@media (max-width: 600px) {
	footer {
		padding: var(--bs-footer-padding);
	}
}

footer {
	height: var(--bs-footer-height);
	font-size: var(--bs-footer-fz);
	padding: var(--bs-footer-padding);
}

footer a {
	color: var(--bs-footer-link-color);
}

footer a {
	color: var(--bs-footer-link-color);
}

footer a:visited {
	color: var(--bs-footer-link-color);
}

footer a:hover, footer a:focus, footer a:active {
	color: var(--bs-footer-link-hover-color);
}

.btn-primary, .btn {
	background-color: var(--bs-btn-bg-);
	border-color: var(--bs-btn-bc);
	color: var(--bs-btns-color) !important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:hover, .btn-primary:focus, .btn:hover, .btn:focus {
	background-color: var(--bs-btn-hover-bg-);
	color: var(--bs-btn-hover-color);
	border-color: var(--bs-btn-hover-bc);
}

.carousel-caption {
	padding-top: var(--bs-slider-caption-pt);
	padding-bottom: var(--bs-slider-caption-pb);
	color: var(--bs-slider-caption-color);
	text-align: var(--bs-slider-caption-text-align);
}

.btn.btn-outline-secondary:hover {
	color: var(--bs-search-btn-hover-color);
	background-color: var(--bs-search-btn-hover-bg);
	border-color: var(--bs-search-btn-hover-bc);
}
.navbar-form {
	margin-right: var(--bs-search-mr);
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-right: var(--bs-nav-header-mr);
	margin-left: var(--bs-nav-header-mr);
}

.elcontainer {
	margin-top: var(--bs-elcontainer-mt);
	margin-bottom: var(--bs-elcontainer-mb);
}

.home-masthead .masthead__title {
	max-width: var(--bs-text-on-video-mw);
	margin: var(--bs-text-on-video-margin);
	color: var(--bs-text-on-video-color);
	font-size: var(--bs-text-on-video-fz);
	font-weight: var(--bs-text-on-video-fw);
	line-height: var(--bs-text-on-video-lh);
	padding-top: var(--bs-text-on-video-pt);
}

.landing-page-btn--white, input[type="submit"].landing-page-btn--white {
	color: var(--bs-video-btn-color);
	background: var(--bs-video-btn-bg);
	box-shadow: var(--bs-video-btn-hover-box-shadow);
}

.landing-page-btn--white:hover, .landing-page-btn--white:focus, input[type="submit"].landing-page-btn--white:hover, input[type="submit"].landing-page-btn--white:focus {
	color: var(--bs-video-btn-hover-color);
	background: var(--bs-video-btn-hover-bg);
}

.landing-page-btn--solid:hover, .landing-page-btn--solid:focus, .landing-page-btn--white:hover, .landing-page-btn--white:focus, input[type="submit"].landing-page-btn--solid:hover, input[type="submit"].landing-page-btn--solid:focus, input[type="submit"].landing-page-btn--white:hover, input[type="submit"].landing-page-btn--white:focus {
	transform: var(--bs-video-btn-transform);
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.htmlcode-text {
	float: left;
	margin: 0px;
	max-width: 100%;
	height: auto;
	width: 592px;
}

@media (max-width: 768px) {
	.htmlcode-text {
		float: left;
		margin: 0px !important;
		max-width: 100%;
		height: auto;
		width: 592px;
	}
}

@media (max-width: 768px) {
	img-responsive {
		margin: 0px !important;
	}
}

/* Efectos de las fotos */
.img-circle {
border-radius: 50%;
}
.img-rounded {
border-radius: 25px;
}
div>.img-thumbnail {
background-color: #0000;
margin: 10px;
}
/* результат опроса */
.vote_bg {
	background-color: #EEEEFF;
}
.vote_strip {
	background-color: blue;
	color: white;
/*	font-size: 12px;*/
/*	font-weight: bold;*/
	text-align: center;
}

/* анонс */
.elannounce {
	float:left;
	width:150px;
	height:150px;
    margin:5px;
    padding:5px;
	border:1px solid #999999;
	background-color:#FFFFFF;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border-color: gray;  /* цвет рамки */
    -moz-border-radius: 15px;
    border-radius: 15px;
	border-radius:3px;
	padding-top:18px;
	padding-bottom:17px;
    text-align: center;
}

/* товар / авто / объект недвижимости (в разделе при горизонтальном выводе) */
.elitem {
	float:left;
	width:150px;
	height:120px;
    margin:5px;
    padding:5px;
	border:1px solid #999999;
	/*background-color:#FFFFFF;*/
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border-color: gray;  /* цвет рамки */
	border-radius:3px;
	padding-top:18px;
	padding-bottom:17px;
    text-align: center;
}
.elitem_container{
    float:left;
    width:180px;
    /*background-color: #FFFFFF;*/
    margin-bottom:5px;
}
.elitem_container:hover{  /* фон при наведении мыши  */
        background-color: #EEEEEE;
}

/* цена */
.elprice{
    /*float:left;*/
    margin-right: 0px;
    line-height: 20px;
    text-align: left;
    /*min-width:  70px;*/
    height: 20px;
    font-size: 140%;
    font-weight: normal;
    color: #000000;
}

/* кнопка */
.elbutton{
    float:left;
    margin-right:10px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    padding: 0px 10px 0px 10px;
    border:1px solid #ccc;
    font-size: 100%;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
}
.elbutton:hover{
    color: #FFFFFF;
    background-color: #000000;
}

/* значок добавления в корзину */
.elbasket{
    float:left;
    margin-right: 10px;
    width:  40px;
    height: 40px;
    overflow:hidden;
    border:1px solid #ccc;
}
.elbasket img{
    margin:0px 0px 40px 0px;
}
.elbasket img:hover{
    margin:-40px 0px 0px 0px;
}

/* таблица корзины */
.elbasket_table{
}

/* ячейка таблицы корзины */
.elbasket_cell{
    padding:10px;
    text-align:center;
}

/* htmlcode */
.elhtmlcode{
    margin: 10px;
}

/* фотогалерея обычная */
.elgallery {
   float: left;
   width: 140px;  /*  длина рамки */
   height: 120px;  /*  высота рамки */
   padding: 4px;  /* отступ по высоте */
   margin: 4px;  /* отступ сбоку */
   border-style: solid;
   border-width: 2px;
   border-color: #808080;  /* цвет рамки */
   -moz-border-radius: 15px;
   border-radius: 15px;
   background:  #fff;   /* фоновый цвет  */
   text-align: center;
}

/* фотогалерея promo */
.promo {
	width: 960px;
	margin: 0 auto;
	position: relative;
        float: left;
}
.promo a {
	background: none !important;
	padding: 0 !important;
	border-radius: 0px !important;
}
.promo a:hover img {
	opacity: 0.8;
}
.promo .promo_item {
	width: 200px;
	height: 170px;
	margin: 17px 17px 17px;
	position: relative;
	float: left;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
} .promo .promo_item h3 {
	color: #ccc;
	font-family: "Arial Narrow";
	font-size: 22px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 20px;
	position: absolute;
	top: 80px;
	left: -1px;
	width: 190px;
	padding: 8px 0 8px 10px;
	background: rgba(0,0,0,0.6);
	text-shadow: 0px 0px 2px #000;
	border-left: 3px solid #990000;
	text-align: center;
} .promo .promo_logos {
	width: 200px;
	padding: 1px;
	border: 1px solid #666;
	border-radius: 10px;
	box-shadow: 0px 2px 10px 2px #000;
} .promo .promo_item:hover {
	transform: scale(.9);
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-o-transform: scale(.9);
}

/* источник фото в статьях - полоска */
div#img_source {
 padding:1px 10px 1px 10px; /* отступы: сверху справа внизу слева */
 opacity:1; /* прозрачность */
 color:white; /* цвет текста */
}

/* главная новость (полоска на фото) */
div#news_main_bg {
 background-color:#000000; /* фоновый цвет */
 opacity:0.8; /* прозрачность фона */
} div#news_main_text {
 padding:0px 10px 0px 10px; /* отступы: сверху справа внизу слева */
 opacity:1; /* прозрачность фона */
 color: rgb(125, 169, 183); /* цвет текста */
}

/* невидимое поле check_code */
.elhpot {
 visibility:hidden;
 height:0px;
}
/* Navbar classes */
body {
  padding-top: 58px;
}.navbar {
min-height:58px;
}
.list-group-item:hover, .list-group-item:focus {
  background-color: var(--bs-vote-check-hover-bg) !important;
transition: 1s ease-in-out;
}
.list-group {
  width: 100%;
  max-width: 658px;
  margin-inline: 1.5rem;
padding-right: 35px;
word-wrap: anywhere;
}
.position-absolute {
  position: absolute !important;
}
.form-check-input-placeholder {
  border-style: dashed;
}
[contenteditable]:focus {
  outline: 0;
}

.list-group-checkable .list-group-item {
  cursor: pointer;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-secondary-bg);
}
.list-group-item-check:checked + .list-group-item {
  border-color: var(--bs-primary);
  transition: 1s ease-in;
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.list-group-radio .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-radio .form-check-input {
  z-index: 2;
  margin-top: -.5em;
}
.list-group-radio .list-group-item:hover,
.list-group-radio .list-group-item:focus {
  background-color: var(--bs-secondary-bg);
}

.list-group-radio .form-check-input:checked + .list-group-item {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 2px var(--bs-primary);
}
.list-group-radio .form-check-input[disabled] + .list-group-item,
.list-group-radio .form-check-input:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}
/* end Navbar classes */
/* группировка полей в админке */
.eladmdiv {
    float:left;
    margin-right:10px;
    min-height:10px;
} .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
position: relative;
min-height: 1px;
padding-right: 0px;
padding-left: 15px;
} .row {
margin-right: 0px;
margin-left: 0px;
} .text-danger{
color: var(--bs-error-text-color) !important;
} .block1 {
border-color: var(--bs-block1-bc) !important;
} .block2 {
border-color: var(--bs-block2-bc) !important;
} .block3 {
border-color: var(--bs-block3-bc) !important;
} .modal-content {
background-color: var(--bs-modal-bg-);
} .list-group-item {
background-color: var(--bs-vote-check-bg);
} .list-group-item:hover, .list-group-item:focus {
background-color: var(--bs-vote-check-hover-bg);
}.nav-item.rounded-3, .nav-item.rounded-3 > .nav-link{
min-height: 50.6px;
}.navbar-toggler:not(.collapsed){
margin-top: 8px;
}